* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clock-wrapper {
    display: inline-block;
    padding: 20px;
}

.clock {
    --clock-radius: 250px;
    position: relative;
    display: inline-block;
    width: calc(2 * var(--clock-radius));
    height: calc(2 * var(--clock-radius));
    background-color: #F5F7FB;
    box-shadow: inset 7px 7px 25px 4px #cacaca, 0px 0px 1px 10px #c1c1c1;
    border-radius: 50%;
}

.hours-hand {
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    background: linear-gradient(90deg, transparent 15%, #2F2D2E 15%, 60%, transparent 60%);
    height: 14px;
    width: 100%;
    transform: rotate(90deg);

    transition: all 200ms ease-in-out;
}

.minutes-hand {
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    background: linear-gradient(90deg, transparent 6%, #2F2D2E 6%, 60%, transparent 60%);
    height: 14px;
    width: 100%;
    transform: rotate(90deg);

    transition: all 200ms ease-in-out;
}

.seconds-hand {
    display: block;
    position: absolute;
    top: calc(50% - 1.5px);
    background: linear-gradient(90deg, transparent 6%, red 6%, 60%, transparent 60%);
    height: 3px;
    width: 100%;
    transform: rotate(90deg);

    transition: all 200ms ease-in-out;
}

.central-major-pin {
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    right: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #2F2D2E;
}

.central-minor-pin {
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
}

.face {
    width: 100%;
    height: 100%;
}

.face-bar {
    position: absolute;
    top: calc(50% - 0.5px);
    background: linear-gradient(90deg, transparent 97%, red 97%);
    height: 1px;
    width: 100%;
}

.face-bar--big {
    top: calc(50% - 4px);
    height: 8px;
    background: linear-gradient(90deg, transparent 95%, black 95%);
}